@import "../../node_modules/bootstrap/scss/functions";
// core overrides
$navbar-border: 0 !default;
$dropdown-border-color: none;

// override sidebar colors
$sidebar-color:                       theme-color('secondary');
$sidebar-bg:                          theme-color('gray-100');


$sidebar-nav-color:                   $sidebar-color;
$sidebar-nav-link-icon-color:         $sidebar-color;
$sidebar-nav-link-color:              $sidebar-color;

$sidebar-nav-link-hover-color:        theme-color('gray-700');
$sidebar-nav-link-hover-bg:           theme-color('gray-100');
$sidebar-nav-link-hover-icon-color:   theme-color('gray-700');
$sidebar-nav-link-hover-borders:      0;

$sidebar-nav-link-active-color:       theme-color('gray-700');
$sidebar-nav-link-active-bg:          theme-color('gray-100');
$sidebar-nav-link-active-icon-color:  theme-color('gray-700');
$sidebar-nav-link-active-borders:     0;

$sidebar-nav-dropdown-color:          theme-color('gray-700');
$sidebar-nav-dropdown-bg:             theme-color('gray-100');

$sidebar-minimizer-bg:                #F0F3F5;
$sidebar-minimizer-hover-bg:          darken(#F0F3F5, 10%);
